
:root {
    --f: 16px;
    --greeting-size: calc(var(--f) * 1.2); /* 20% larger than base font */
    --tod-face-size: calc(var(--greeting-size) * 5); /* 5 times greeting size */
    --role-size: calc(var(--greeting-size) * 3); /* 3 times greeting size */
    --Text: #0C1618;
    --Tint: #4CAF50;
    --Background: #F5F5F5;
}

body {
    font-family: 'Bukra', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--Background);
    color: var(--Text); /* Default text color */
    font-weight: bold;
}

.center-table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vh; /* Aspect ratio 3:1 */
    height: 25vh;
    margin: auto;
}

.center-table table {
    width: 100%;
    height: 100%;
}

.center-table table td {
    text-align: center;
    vertical-align: middle;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.greeting {
    font-size: var(--greeting-size);
    text-align: right;
}

.tod-face {
    font-size: var(--tod-face-size);
    text-align: center;
}

.role1 {
    font-size: var(--role-size);
    text-align: left;
    vertical-align: bottom;
}

.role2 {
    font-size: var(--role-size);
    text-align: left;
    vertical-align: top;
}

.tint {
    color: var(--Tint);
}

.spacing {
    width: 5%;
}

.highlight-tod,
.highlight-char,
.highlight {
    color: var(--Tint);
}
